body{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: space-around;
}

.card{
	
	width: 25%;
	height: 320px;
	border: 2px solid black;
	text-align: center;
	font-family: sans-serif;
	word-break: break-all;
	box-shadow: 2px 8px 8px -8px;
	background-color: #8894DA;
	border-radius: 10px;
}
.profile{
    height: 100px;
}

/*::::::::::::::::::::::card section completed::::::::::::::::::::::::*/



/*:::::::::::::::::::::Resume Start:::::::::::::::::::::::::::::*/

.resume{
	width: 70%;
	height: 750px;
	border: 2px solid black;
	font-family: sans-serif;
	text-decoration: dotted;
	background-color: #18CFBC;
	box-shadow: 10px 8px 8px -8px;
	border-radius: 20px;
}

hr{
	height: 2px;
   background-color: black;
}

.head{
      text-align: center;
}

.personaldetails{
	font-family: sans-serif;
	font-weight: bold;
	font-size: 19px;
	margin: 2px;
}

.edu{
	font-size: 18px;
	font-family: sans-serif;
	font-weight: bold;
	margin: 2px;
}

.skills{
	font-size: 18px;
	font-family: sans-serif;
	list-style: none;
	font-weight: bold;
	padding-bottom: 4px;
	margin: 2px;
}


/*:::::::::::::::::::::::::::LETS UPPLY MEDIA QUIRIES::::::::::::::::::::::::*/

@media only screen and (max-width: 900px){
     
     body{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: space-around;
	background-color: rgba(0,0,0,0.1);
  }

	.card{
	width: 25%;
	height: 320px;
	border: 2px solid black;
	text-align: center;
	font-family: sans-serif;
	word-break: break-all;
	box-shadow: 2px 8px 8px -8px;
	background-color: #68A815;
	border-radius: 10px;
	position: relative;
	left: 73%;
}

.resume{
	width: 70%;
	height: 750px;
	border: 2px solid black;
	font-family: sans-serif;
	text-decoration: dotted;
	background-color: #66E87E;
	box-shadow: 10px 8px 8px -8px;
	position: relative;
	right: 28%;
}
}

@media only screen and (max-width: 780px){


     body{
	width: 100%;
	height: 100vh;
	display: block;
	justify-content: space-between;
	background-color: rgba(0,0,0,0.1);
  }

	.card{
	width: 98%;
	height: 390px;
	font-size: 20px;
	border: 2px solid black;
	text-align: center;
	font-family: sans-serif;
	word-break: break-all;
	box-shadow: 2px 8px 8px -8px;
	background-color: #B0C61F;
	border-radius: 10px;
	position: relative;
	left: 0%
}

.resume{
	width: 98%;
	height: 750px;
	border: 2px solid black;
	font-family: sans-serif;
	text-decoration: dotted;
	background-color: #66E87E;
	box-shadow: 10px 8px 8px -8px;
	position: relative;
     top: 20px;
	left: 0%
}

}

@media only screen and (max-width: 480px){

     body{
	width: 100%;
	height: 100vh;
	display: block;
	justify-content: space-between;
	background-color: rgba(0,0,0,0.3);
  }

	.card{
    display: flex;
	width: 98%;
	height: 390px;
	border: 2px solid black;
	text-align: center;
	font-family: sans-serif;
	word-break: break-all;
	box-shadow: 2px 8px 8px -8px;
	background-color: #7A20AD;
	border-radius: 10px;
	position: relative;
	left: 0%;
}

.resume{
	width: 98%;
	height: 1000px;
	border: 2px solid black;
	font-family: sans-serif;
	text-decoration: dotted;
	background-color: #C86BE7;
	box-shadow: 10px 8px 8px -8px;
	position: relative;
	top: 20px;
	left: 0%
}

.hr{
	height: 370px;
}

.profile{
    height: 150px;
}

.main{
    margin: 3px;
    padding-top: 70px;
}
.main1{
    margin: 3px;
    padding-top: 100px;


}




}
